<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li class="active">{{ 'MENU_EMPRESA' | translate }}</li>
</ol>

<div class="jumbotron" ng-show="checkLanguage('pt')" ng-style="{'background-image':'url({{getBanner('empresa')}})'}"></div>
<div class="jumbotron" ng-show="checkLanguage('en')" ng-style="{'background-image':'url({{getBannerEn('empresa')}})'}"></div>
<div class="jumbotron" ng-show="checkLanguage('es')" ng-style="{'background-image':'url({{getBannerEs('empresa')}})'}"></div>

<div class="row">
	<div class="col-sm-3 text-center">
		<img class="img-thumbnail" src="img/empresa.jpg" alt=""/>
	</div>
	<div class="col-sm-9">
		<p translate="EMPRESA_TEXTO"></p>
	</div>
</div>