<form action="http://api.mahler.com.br/orcamento/" method="POST" enctype="multipart/form-data" target="iOrcamento" name="formOrcamento">
	<input type="hidden" name="mailTo" value="norton@mahler.com.br" />
	<div class="modal-header">
		<div class="page-header"><h1>{{ 'PRODUTO_ORCAMENTO' | translate }}	</h1></div>
	</div>
	<div class="modal-body">	
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2" translate="CONTATO_NOME"></span>
			<input type="text" class="form-control" aria-describedby="sizing-addon2" name="nome">
		</div><br/>
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2">E-mail</span>
			<input type="text" class="form-control" aria-describedby="sizing-addon2" name="email">
		</div><br/>
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2" translate="CONTATO_FONE"></span>
			<input type="text" class="form-control" aria-describedby="sizing-addon2" name="telefone">
		</div><br/>
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2" translate="CONTATO_ARQUIVO"></span>
			<input type="file" class="form-control" aria-describedby="sizing-addon2" name="arquivo">
		</div><br/>
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2" translate="CONTATO_MENSAGEM"></span>
			<textarea class="form-control" rows="5" aria-describedby="sizing-addon2" name="mensagem"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="cancel()" id="btnFechar">{{ 'UTIL_FECHAR' | translate }}</button>
		<button class="btn btn-success" ng-click="send()">{{ 'CONTATO_ENVIAR' | translate }}</button>
	</div>
</form>
<iframe src="" name="iOrcamento" name="iOrcamento" style="display: none"></iframe>